*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "DM Sans", sans-serif;
    background: #F8E9DD;
    height: 100vh;
    
    
}


main{

    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    margin: auto;
}

.header-balance{
    background: #EC755D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 32px;
    border-radius: 20px;
}

.txt-header-balance{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.txt-header-balance p{
    font-size: 18px;
    
}

.txt-header-balance h3{
    font-size: 32px;

}

.info-month-container{
   background: #fff;
   border-radius: 20px;
   padding: 32px 40px;
   
}

.info-month-container h1{
    font-size: 32px;
}


.chart-container{
    position: relative;
    width: 100%;
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    margin-top: 52px;
}

canvas {
    width: 100% !important;   /* Garante que o canvas ocupe 100% da largura do contêiner */
    height: 100% !important;  /* Garante que o canvas ocupe 100% da altura do contêiner */
}


.chart-container:after{
    content: '';
    width: 100%;
    height: 2px;
    background:#F8E9DD;
    position: absolute;
    bottom: 0px;
}




.total-txt-footer-balance p{
   color: #92857A;
   font-size: 18px;
}

.total-txt-footer-balance h2{
    font-size: 48px;
    color: #382314;
 }

 .number-last-month{
    font-weight: 700;
    font-size: 18px;
    text-align: end;
    color: #382314;
 }

 .info-last-month{
    color: #92857A;
    font-size: 18px;
 }

 .chart-container{
    width: 100%;
   
    
 }



 #myChart {
    border: none; 
    outline: none; 
  }

  .footer-balance{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  @media screen and (max-width:500px){
    .info-month-container{
        padding: 32px 20px;
    }
    
    .info-month-container h1{
        font-size: 18px;
    }

    .total-txt-footer-balance p, .info-last-month, .number-last-month {
        font-size: 14px;
    }

    .total-txt-footer-balance h2 {
        font-size: 24px;
    }


  }

  .tooltip{
    background-color: red !important;
  }
